{% block title %}Connecte toi :){% endblock %}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="grid-6-small-2">
        <div class="col-2"></div>
        <form action="{{ path('app_login') }}" method="post" class="login col-2">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur ou email" /><br>
            <input type="password" id="password" name="_password" placeholder="Mot de passe "/><br>
            {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
            #}
            <label>
                <input type="checkbox" class="checkbox" value="_remember_me"> Se souvenir de moi
            </label>
            <br>
            <button type="submit" class="btn--primary">➡️ Connexion</button>
        </form>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-1">
            <a href="{{ path('app_forgot_password') }}">Mot de passe oublié ?</a>
        </div>
        <div class="col-1 txtright">
            <a href="{{ path('app_register') }}">Je rejoins la communauté !</a>
        </div>
    </div>
{% endblock %}