{% extends 'base.html.twig' %}

{% block title %}Editer {{ plant_family.name }}{% endblock %}

{% block body %}
    <div class="md:p-5">
        <h1>Edition Famille : {{ plant_family.name }}</h1>
        {{ include('plant_family/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('plant_family_index') }}">retour à la liste</a>
        {{ include('plant_family/_delete_form.html.twig') }}
    </div>
{% endblock %}
