{% if plant.images | length %}
    {% for image in plant.images %}
        <form name="img_delete{{ image.id }}" class="img_delete" action="{{ path('plant_delete_image',{'id':plant.id,'image':image.id}) }}" method="post" onsubmit="return propertyLineEditSubmit(this)">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('plant_delete_image_'~image.id) }}" >
            <a href="#" onclick="return propertyLineEditSubmit(document.forms['img_delete{{ image.id }}']);"><img width="150px" src="{{ image.src }}" alt=""></a>
        </form>
    {% endfor %}
{% endif %}
<form action="{{ path('plant_img_new',{'id':plant.id}) }}" class="dropzone" method="post">
</form>
<form action="{{ path('plant_img_new',{'id':plant.id}) }}" method="post" onsubmit="return propertyLineEditSubmit(this)">
    <ul class="unstyled">
        <li><input type="text" placeholder="https://..." name="images_url[]"></li>
    </ul>
    <input type="button" value="+" onclick="newImageUrl(this);" />
    <input type="submit" value="Ok" />
</form>