<div data-code="gallery" data-type="other" class="border-b" id="gallery">
    <h6 class="bg-gray-200 text-black p-1 w-full text-center">Images</h6>
    <div class="flex flex-wrap justify-center image-list">
        {% if plant.images | length %}
            {% for image in plant.images %}
                <form name="img_delete{{ image.id }}" id="img_delete{{ image.id }}" class="w-20 h-20 flex-none bg-red-400 m-0.5 text-white relative" action="{{ path('plant_delete_image',{'id':plant.id,'image':image.id}) }}" method="post" onsubmit="return false;">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('plant_delete_image_'~image.id) }}" >
                    <div class="text-center leading-10 py-5 absolute top-0 left-0 right-0 bottom-0 text-5xl">
                        <i class="mdi mdi-trash-can"></i>
                    </div>
                    <button data-type="delete" data-target="#img_delete{{ image.id }}" class="bg-cover absolute top-0 left-0 right-0 bottom-0 w-full block" style="background-image: url({{ image.src }})">
                    </button>
                </form>
            {% endfor %}
        {% endif %}
    </div>
    <form action="{{ path('plant_img_new',{'id':plant.id}) }}" class="dropzone" method="post" id="my_dropzone" data-refresh="{{ path('plant_img_new',{'id':plant.id}) }}">
        <div class="dz-default dz-message"><button class="dz-button" type="button">Glissez vos fichiers ici</button></div>
    </form>
    <form action="{{ path('plant_img_new',{'id':plant.id}) }}" method="post" onsubmit="return false;" class="seamless">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('plant_img_new') }}" >
        <div class="flex">
            <input type="text" value="" required="required" name="value" placeholder="https://*.wikimedia.org/..." class="w-full flex-1 flex-shrink-0 p-2" />
            <button class="w-10 h-10 text-gray-100 bg-gray-800 hover:bg-gray-700" id="add_img" ><i class="mdi mdi-plus-box"></i></button>
        </div>
    </form>
</div>