<div data-code="{{ element.code }}" data-type="property" data-id="{{ element.id }}" class="show">
    <span class="font-bold uppercase">{{ element.name }} : </span><span class="uppercase">{{ plant.MinSexualMaturity }}-{{ plant.MaxSexualMaturity }} ans</span>
</div>