{% if plant.sources | length %}
    <div>
        <ul>
            {% for source in plant.sources %}
                <li>
                    <form action="{{ path('plant_source_edit',{'id':plant.id,'source':source.id}) }}" onsubmit="return sourceLineSubmit(this)">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('plant_source_edit_'~source.id) }}" >
                        <input type="text" value="{{ source.name }}" name="value">
                        <input type="submit" value="Ok">
                    </form>
                    <form action="{{ path('plant_source_delete',{'id':plant.id,'source':source.id}) }}" onsubmit="return sourceLineSubmit(this)">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('plant_source_delete_'~source.id) }}" >
                        <input type="submit" value="X" style="background: red">
                    </form>
                </li>
            {% endfor %}
            <li>
                <form action="{{ path('plant_source_new',{'id':plant.id}) }}" onsubmit="return sourceLineSubmit(this)">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('plant_source_new') }}" >
                    <input type="text" value="" name="value" placeholder="https://..." />
                    <input type="submit" value="Ok">
                </form>
            </li>
        </ul>
    </div>
{% endif %}