<h4>{{ attribute.name }}</h4>
{% if attribute.isTypeNone %}
    <input type="checkbox" name="a_{{ attribute.code }}" id="a_{{ attribute.code }}" data-f-value="1" value="1" {% if attributes_values[attribute.code] is defined %} checked="checked" {% endif %} class="switch" />
    <label for="a_{{ attribute.code }}" class="label"> oui ? </label>
{% else %}
<select name="a_{{ attribute.code }}[]" id="a_{{ attribute.code }}" multiple="multiple">
    {% for value in attribute.availableValues %}
        <option value="{{ value.id }}" data-f-value="{{ value.id }}" {% if attributes_values[attribute.code] is defined and value in attributes_values[attribute.code] %} selected {% endif %}>
            {{ value.value }}
        </option>
    {% endfor %}
</select>
{% endif %}