{% if filters | length or attributes_values | length %}
    {% for filter,value in filters %}
        {% if value is iterable %}
            {% for v in value %}
                <span class="tag" data-key="{{ filter }}" data-value="{{ v }}">
                        {{ v | human(filter,true) }} <span class="close"></span>
                    </span>
            {% endfor %}
        {% else %}
            <span  class="tag" data-key="{{ filter }}" data-value="{{ value }}">
                    {{ value | human(filter,true) }} <span class="close"></span>
                </span>
        {% endif %}
    {% endfor %}
    {% for code,values in attributes_values %}
        {% for value in values %}
            <span class="tag {% if value.attribute.filterCategory is not null %}cat_{{ value.attribute.filterCategory.id }}{% endif %}" data-key="{{ code }}" data-value="{% if not value.attribute.typeNone %}{{ value.id }}{% else %}1{% endif %}" {% if excluded_attributes[code] is defined %} style="background: red" {% endif %}>
                    <b>{{ value.attribute.name }}</b> {% if not value.attribute.typeNone %}: {{ value.value }}{% endif %} <small>({{ value.plants | length }})</small>
                    <span class="close"></span>
                </span>
        {% endfor %}
    {% endfor %}
    <br>
    {% if excluded_attributes | length %}
        {% for code in excluded_attributes %}
            {% if attributes[code] is defined %}
                ⚠️  L'attribut {{ attributes[code].name }} n'a pas été pris en compte car il n'est défini pour aucune plante
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
    <a href="{{ path('plant_index') }}">Supprimer tous les filtres</a>
{% endif %}