<td class="py-3 px-6 text-left whitespace-nowrap">
    <div class="flex items-center">
        <span class="font-medium"><a href="{{ path('plant_show',{'id':plant.id,'slug':plant.slug}) }}">{{ plant.name }}</a></span>
    </div>
</td>
<td class="py-3 px-6 text-left hidden md:table-cell">
    <div class="flex items-center">
        <a href="{{ path('plant_show',{'id':plant.id,'slug':plant.slug}) }}"><i>{{ plant.LatinName }}</i></a>
    </div>
</td>
<td class="py-3 px-6 text-left whitespace-nowrap">
    <div class="flex items-center">
        <div class="mr-2">
            {% set port = plant.getMainAttributeValuesByCode('port').first %}
            {% if port %}
            <img class="h-6" src="{{ asset('build/img/silhouettes/ico/'~port.code~'.png') }}" alt="silouette {{ port.value }}" class="main">
            {% endif %}
        </div>
        {% if port %}
        <span class="port port--{{ port.code }} hidden lg:block">{{ port.value }}</span>
        {% endif %}
    </div>
</td>
<td class="py-3 px-6 text-center hidden xl:table-cell">
    {% set stratum = plant.getAttributeValuesByCode('stratum').first %}
    {% if stratum %}
    <span class="stratum stratum--{{ stratum.code }}">{{ stratum.value }}</span>
    {% endif %}
</td>
{% if is_granted('ROLE_EDIT') %}
<td class="py-3 px-6 text-center">
    <div class="flex item-center justify-center">
        <a href="{{ path('plant_show',{'id':plant.id,'slug':plant.slug}) }}">
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                {{ mdi('eye') }}
            </div>
        </a>
        <a href="{{ path('plant_edit',{'id':plant.id,'slug':plant.slug}) }}">
            <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                {{ mdi('pencil') }}
            </div>
        </a>
    </div>
</td>
{% endif %}