{% extends 'base.html.twig' %}

{% block title %}App admin{% endblock %}

{% block body %}
    <h1 class="content-center text-center text-3xl p-5">Admin page</h1>
    <div class="p-2 m-2">
        <a href="{{ path('app_admin_users') }}" class="btn btn--primary">Gestion des utilisateurs</a>
        <a href="{{ path('attribute_family_edit') }}" class="btn btn--primary">Gestion des familles d'attributs</a>
    </div>
    <div class="p-2 m-2">
        <h1>configuration</h1>
        <form action="{{ path('app_admin') }}" method="post" enctype="multipart/form-data">
            {% for c in config %}
                <label for="{{ c.path }}">{{ c.label }}</label><br>
                {% if c.frontendType == 'file' and c.value %}
                    <img src="{{ c.value }}" alt="{{ c.label }}" width="200" style="max-height: 200px;max-width: 200px;">
                {% endif %}
                {% if c.frontendType == 'boolean'  %}
                    <input type="radio" value="1" name="{{ c.path }}" {% if (c.value) %}checked="checked"{% endif %}> OUI <br>
                    <input type="radio" value="0" name="{{ c.path }}" {% if not (c.value) %}checked="checked"{% endif %}> NON <br>
                {% else %}
                    <input type="{{ c.frontendType }}" value="{{ c.value }}" name="{{ c.path }}"> <br>
                {% endif %}
            {% endfor %}
            <br>
            <button type="submit" class="btn btn--primary">Enregistrer</button>
        </form>
    </div>

{% endblock %}