{% extends 'base.html.twig' %}

{% block title %}App admin{% endblock %}

{% block body %}
    <h1>Admin page</h1>
    <a href="{{ path('app_admin') }}">configuration</a>
    <b>users admin</b>
    <table>
        <th>
            <td>username</td>
            <td>email</td>
            <td>is_active</td>
            <td>roles</td>
        </th>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.IsActive }}</td>
                <td>{{ user.roles | join(',') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}