{% extends 'base.html.twig' %}

{% block title %}Clay index{% endblock %}

{% block body %}
    <h1>Clay index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Scale</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clay in clays %}
            <tr>
                <td>{{ clay.id }}</td>
                <td>{{ clay.scale }}</td>
                <td>
                    <a href="{{ path('clay_show', {'id': clay.id}) }}">show</a>
                    <a href="{{ path('clay_edit', {'id': clay.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('clay_new') }}">Create new</a>
{% endblock %}
