{% extends 'base.html.twig' %}

{% block title %}Clay{% endblock %}

{% block body %}
    <h1>Clay</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clay.id }}</td>
            </tr>
            <tr>
                <th>Scale</th>
                <td>{{ clay.scale }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('clay_index') }}">back to list</a>

    <a href="{{ path('clay_edit', {'id': clay.id}) }}">edit</a>

    {{ include('clay/_delete_form.html.twig') }}
{% endblock %}
