{{ form_start(form) }}
    {{ form_widget(form) }}
	{% if app.request.attributes.get('_route') == 'plant_edit' %}
        <h2>Images</h2>
        {% for image in plant.images %}
            <div>
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">

                <a href="{{ path('plant_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
