{% extends 'base.html.twig' %}

{% block title %}🖊️ {{ plant.name }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Edition <a href="{{ path('plant_redirect_to_show',{id:plant.id}) }}">{{ plant.name }}</a></h1>

    {{ include('plant/_form.html.twig', {'button_label': 'Update'}) }}
    {% for family in families %}
        {% if family.children | length %}
            <h4>{{ family.name }}</h4>
            {% for child in family.children %}
                {% if child.propertyOrAttributes | length %}
                    {% if child.name %}<h5>{{ child.name }}</h5>{% endif %}
                    <ul class="unstyled">
                        {% for element in child.propertyOrAttributes %}
                            {% if element.attribute %}
                                {% include "attribute/_partial/line.html.twig" with {'attribute': element,'plant' : plant } %}
                            {% else %}
                                <li>
                                    {% include element.templates('line') with {'property': element,'plant' : plant} %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <a href="{{ path('plant_index') }}">back to list</a>

    {{ include('plant/_delete_form.html.twig') }}
{% endblock %}
