{% extends 'base.html.twig' %}

{% block title %}Liste des plantes ({{plants | length }}){% endblock %}

{% block body %}

    <h1>Liste des plantes</h1>

    <div class="grid-12">
        <div class="col-12">
            <h2>Rechercher</h2>
        </div>
        <div class="col-3-small-all">
            <ul id="filters_list">
                {% for filter_category in filter_categories  %}
                    <li><a href="#cat_{{ filter_category.id }}">{{ filter_category.name }}</a></li>
                {% endfor %}
{#                <li><a href="#cat_all">Recherches avancées</a></li>#}
            </ul>
        </div>
        <div class="f col-9-small-all">
            <div class="filters" id="form_filter">
                <form class="filters_form" action="{{ path('plant_index') }}">
                    <div class="grid-6">
                        {% for filter_category in filter_categories  %}
                            {% for element in filter_category.propertyOrAttributes %}
                                {% if element.attribute %}
                                    <div class="col-2-small-3 fblock cat_{{ filter_category.id }} cat_all">
                                        {% include "attribute/_partial/filter.html.twig" with {'attribute': element } %}
                                    </div>
                                {% else %}
                                    <div class="col-2-small-3 fblock cat_{{ filter_category.id }} cat_all">
                                        property {{ element.code }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include "plant/_partial/filters.html.twig" %}
    {% include "plant/_partial/list.html.twig" %}

{% endblock %}
