{% extends 'base.html.twig' %}

{% block title %}Liste des plantes ({{plants | length }}){% endblock %}

{% block body %}
    <h1 class="content-center text-center text-3xl p-5">Rechercher des plantes</h1>

    <div class="grid grid-cols-12">
        <div class="col-span-12">
            <h2>Mes critères</h2>
        </div>
        <div class="col-span-4">
            <ul id="filters_list" class="unstyled">
                {% for filter_category in filter_categories  %}
                    <li><a href="#cat--{{ filter_category.id }}" class="outline-none cat cat--{{ filter_category.id }}">{{ filter_category.name }}</a></li>
                {% endfor %}
                {% if is_granted('ROLE_ADMIN') %}
                <li><a class="outline-none cat cat--all" href="#cat--all">Recherches avancées</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-span-8">
            <div class="filters" id="form_filter">
                <form class="" action="{{ path('plant_index') }}">
                    <div class="flex flex-wrap">
                        {% for filter_category in filter_categories  %}
                            {% for element in filter_category.propertyOrAttributes %}
                                {% if element.attribute %}
                                    <div class="fblock cat--{{ filter_category.id }} cat--all" style="display: none">
                                        {% include "attribute/_partial/filter.html.twig" with {'attribute': element } %}
                                    </div>
                                {% else %}
                                    <div class="fblock cat--{{ filter_category.id }} cat--all" style="display: none">
                                        {% include element.templates('filter') with {'property': element} %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <input type="hidden" name="_ajax" value="1">
                </form>
            </div>
        </div>
    </div>

    <div id="filters">
        {% include "plant/_partial/filters.html.twig" %}
    </div>
    <div id="list">
        {% include "plant/_partial/list.html.twig" %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}