{% if (plant.attributeValuesByCode(element.code) | length) %}
    <div data-code="{{ element.code }}" data-type="attribute" data-id="{{ element.id }}" class="show">
        {% if element.typeNone %}
            <span class="">
                <a href="{{ path('plant_index',{ (element.code) : '1'}) }}">{{ element.name }}</a>
            </span>
        {% else %}
            {% if element.mainValue is not null %}
                <span class="">{{ element.mainValue.label }}</span> :
                {% if plant.mainAttributeValuesByCode(element.code) | length %}
                    {% for attribute_value in plant.mainAttributeValuesByCode(element.code) %}
                        {% if attribute_value.mainValue is not null %}
                            <div class="attribute-value bg-gray-200">
                                {% if element.typeUnique %}
                                    {{ attribute_value.value }}
                                {% else %}
                                    {% if attribute_value.value is not null %}<a class="hover:underline capitalize" href="{{ path('plant_index',{ (element.code) : attribute_value.id}) }}">{{ attribute_value.value }}</a>{% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <i class="mdi mdi-code-brackets"></i>
                {% endif %}
                <br>
            {% endif %}
            <span class="">{{ element.name }}</span> :
            {% if plant.attributeValuesByCode(element.code) | length %}
                {% for attribute_value in plant.attributeValuesByCode(element.code) %}
                    {% if attribute_value.mainValue is null %}
                        <div class="attribute-value bg-gray-100">
                            {% if element.typeUnique %}
                                <span class="">{{ attribute_value.value }}</span>
                            {% else %}
                                {% if attribute_value.value is not null %}<a class="hover:underline capitalize" href="{{ path('plant_index',{ (element.code) : attribute_value.id}) }}">{{ attribute_value.value }}</a>{% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <i class="mdi mdi-code-brackets"></i>
            {% endif %}
        {% endif %}
    </div>
{% endif %}