<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block meta_description %}Base de donnée de plantes permacoles{% endblock %}" />
        <meta name="author" content="Gaetan Janssens" />
        <link href="https://api.fontshare.com/v2/css?f[]=nunito@500&display=swap" rel="stylesheet">
        {% block head %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-img" style="--bg-image : url({{ asset('build/img/papier.jpg') }});">
        <div class="w-full bb bg-white md:flex p-3 hidden">
            <div class="flex-none">
                🏡 <a class="inline-block hover:underline" href="{{ base_url }}">Accueil</a> | 🌿 <a class="inline-block hover:underline" href="{{ path('plant_index') }}">les plantes</a>
            </div>
            <div class="flex none">
                {% if config('app/return_link') and not config('app/embed') %}
                    <a class="block ml-4 bg-gray-100 hover:bg-green-700 hover:text-yellow-100 transition-all px-2 py-0.5 rounded" href="{{ config('app/return_link') }}"><i class="mdi mdi-arrow-left"></i> {{ config('app/return_label') }}</a>
                {% endif %}
            </div>
            <div class="flex-grow"></div>
            <div class="text-right flex-none">
                {% if not config('app/embed') %}
                    {% if is_granted('ROLE_USER') %}
                       <b> {% if is_granted('ROLE_ADMIN') %}🌳{% else %}🧘{% endif %} {{ app.user.username }} </b> | {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_admin') }}">⚙ admin</a> | {% endif %} <a href="{{ path('app_logout') }}"><i class="mdi mdi-lock-off"></i>déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">connexion</a> | <a href="{{ path('app_register') }}">s'inscrire</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="container-center min-h-screen mx-auto w-full md:w-3/4 lg:1/2 bg-white">
            {% block body %}{% endblock %}
        </div>
        <footer class="h-10 bg-white w-full border-t text-center p-1">
            <small>Un bug 🐛 ? Une suggestion 💡 ? Utilise <a href="{{ path('contact') }}" class="underline">ce formulaire</a> !</small>
        </footer>
        {% if app.session.flashBag.peekAll|length > 0 %}
            <div id="flash" class="px-10 flex flex-col space-y-3 fixed w-full top-14">
                {% for type,messages in app.session.flashBag.all %}
                    {% if type == "info" %}
                        {% for message in messages %}
                            <div class="bg-blue-100 p-5 w-full sm:w-1/2 border-l-4 border-blue-500 relative message">
                                <div class="flex space-x-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flex-none fill-current text-blue-500 h-4 w-4">
                                        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"></path></svg>
                                    <div class="flex-1 leading-tight text-sm text-blue-700">{{ message }}</div>
                                </div>
                                <div class="absolute right-2 top-1 cursor-pointer close">
                                    <i class="mdi mdi-close"></i>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif type == "success" %}
                        {% for message in messages %}
                            <div class="bg-green-100 p-5 w-full sm:w-1/2 rounded relative message">
                                <div class="flex justify-between">
                                    <div class="flex space-x-3">
                                        <div class="flex-none fill-current text-green-500">
                                            <i class="mdi mdi-checkbox-marked-circle"></i></div>
                                        <div class="flex-1 text-sm text-green-700 font-medium">{{ message }}</div>
                                    </div>
                                    <div class="flex-none fill-current text-green-600 cursor-pointer close">
                                        <i class="mdi mdi-close"></i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif type == "error" %}
                        {% for message in messages %}
                            <div class="bg-red-100 p-5 w-full sm:w-1/2 relative message">
                                <div class="flex space-x-3">
                                    <i class="mdi mdi-close-circle text-red-700"></i>
                                    <div class="leading-tight flex flex-col space-y-2">
                                        <div class="text-sm font-medium text-red-700">Oups !</div>
                                        <div class="flex-1 leading-snug text-sm text-red-600">{{ message }}</div>
                                    </div>
                                </div>
                                <div class="absolute right-2 top-1 cursor-pointer close">
                                    <i class="mdi mdi-close"></i>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <a href="#" data-toggle="#menu_mobile" class="fixed -top-10 -left-10 text-2xl text-white rounded-full bg-gray-900 w-20 h-20 block pl-10 pt-10 md:hidden"><i class="mdi mdi-menu"></i></a>
        <div class="md:hidden w-full h-screen bg-gray-900 text-gray-100 p-1 fixed top-0 left-0 right-0 hidden z-50" id="menu_mobile">
            <a href="#" class="fixed top-1 right-1 text-2xl" data-toggle="#menu_mobile"><i class="mdi mdi-close"></i></a>
            <ul class="text-xl">
                <li class="mb-1"><i class="mdi mdi-home"></i><a class="h-10 pl-10 inline-block hover:underline" href="{{ base_url }}">Accueil</a></li>
                <li class="mb-1"><i class="mdi mdi-view-list"></i><a class="h-10 pl-10 inline-block hover:underline" href="{{ path('plant_index') }}">Liste des plantes</a></li>
                <li class="mb-1"><i class="mdi mdi-mail"></i><a class="h-10 pl-10 inline-block hover:underline" href="{{ path('contact') }}">Contact</a></li>
                {% if config('app/return_link') %}
                    <li class="mb-1">
                        <a class="inline bg-green-900 hover:bg-green-700 hover:text-yellow-100 transition-all py-0.5 px-2 rounded" href="{{ config('app/return_link') }}"><i class="mdi mdi-arrow-left"></i> {{ config('app/return_label') }}</a>
                    </li>
                {% endif %}
            </ul>
            <hr class="mt-10">
            <ul class="text-center">
                {% if config('app/embed') %}
                    {% if is_granted('ROLE_USER') %}
                        <li> {% if is_granted('ROLE_ADMIN') %}🌳{% else %}🧘{% endif %} {{ app.user.username }} </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>⚙ <a href="{{ path('app_admin') }}" class="inline-block hover:underline">admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_logout') }}" class="inline-block hover:underline"><i class="mdi mdi-lock-off"></i>déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}" class="inline-block hover:underline">connexion</a> | <a href="{{ path('app_register') }}">s'inscrire</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% if config('app/embed') %}
                {{ encore_entry_script_tags('embed') }}
            {% endif %}
        {% endblock %}
        {% if config('app/embed') %}
            <script>
                let embed_admin = {% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %};
                let embed = true;
                let parent_url = "{{ config('app/parent_url') }}";
            </script>
        {% endif %}
    </body>
</html>