<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="">
        <div class="w-full bb bg-white flex p-3">
            <div class="flex-none">
                <a href="{{ base_url }}">Accueil</a> / <a href="{{ path('plant_index') }}">🌿 les plantes</a>
            </div>
            <div class="flex-grow"></div>
            <div class="text-right flex-none">
                {% if is_granted('ROLE_USER') %}
                   <b> {% if is_granted('ROLE_ADMIN') %}🌳{% else %}🧘{% endif %} {{ app.user.username }} </b> |  <a href="{{ path('app_logout') }}"><i class="mdi mdi-lock-off"></i>déconnection</a>
                {% else %}
                    <a href="{{ path('app_login') }}">connexion</a> | <a href="{{ path('app_register') }}">s'inscrire</a>
                {% endif %}
            </div>
        </div>
        <div class="container-center min-h-screen">
            {% block body %}{% endblock %}
        </div>
        <footer class="h-10 bg-white w-full border-t text-center p-1">
            <small>Un bug 🐛 ? Une suggestion 💡 ? Utilise <a href="{{ path('contact') }}" class="underline">ce formulaire</a> !</small>
        </footer>
        {% if app.session.flashBag.peekAll|length > 0 %}
            <div id="flash" class="px-10 flex flex-col space-y-3 fixed w-full top-14">
                {% for type,messages in app.session.flashBag.all %}
                    {% if type == "info" %}
                        {% for message in messages %}
                            <div class="bg-blue-100 p-5 w-full sm:w-1/2 border-l-4 border-blue-500 relative message">
                                <div class="flex space-x-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="flex-none fill-current text-blue-500 h-4 w-4">
                                        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"></path></svg>
                                    <div class="flex-1 leading-tight text-sm text-blue-700">{{ message }}</div>
                                </div>
                                <div class="absolute right-2 top-1 cursor-pointer close">
                                    <i class="mdi mdi-close"></i>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif type == "success" %}
                        {% for message in messages %}
                            <div class="bg-green-100 p-5 w-full sm:w-1/2 rounded relative message">
                                <div class="flex justify-between">
                                    <div class="flex space-x-3">
                                        <div class="flex-none fill-current text-green-500 h-4 w-4">
                                            <i class="mdi mdi-checkbox-marked-circle"></i></div>
                                        <div class="flex-1 leading-tight text-sm text-green-700 font-medium">{{ message }}</div>
                                    </div>
                                    <div class="flex-none fill-current text-green-600 h-3 w-3 cursor-pointer close">
                                        <i class="mdi mdi-close"></i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% elseif type == "error" %}
                        {% for message in messages %}
                            <div class="bg-red-100 p-5 w-full sm:w-1/2 relative message">
                                <div class="flex space-x-3">
                                    <i class="mdi mdi-close-circle text-red-700"></i>
                                    <div class="leading-tight flex flex-col space-y-2">
                                        <div class="text-sm font-medium text-red-700">Oups !</div>
                                        <div class="flex-1 leading-snug text-sm text-red-600">{{ message }}</div>
                                    </div>
                                </div>
                                <div class="absolute right-2 top-1 cursor-pointer close">
                                    <i class="mdi mdi-close"></i>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>