{% extends 'base.html.twig' %}

{% block title %}Ph{% endblock %}

{% block body %}
    <h1>Ph</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ph.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ph.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ph_index') }}">back to list</a>

    <a href="{{ path('ph_edit', {'id': ph.id}) }}">edit</a>

    {{ include('ph/_delete_form.html.twig') }}
{% endblock %}
